* {box-sizing: border-box;

}

h1{ color: #e5cccc;
  font-size: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

.herobild {
  padding: 80px;
  padding-top: 170px;
  background-image:url(hollywood.png);
  background-position: top;
  background-size: cover;
}

h2 {
  color: #376996;
  font-size: 28px;
  font-family: "Codystar";
  text-align: center;
}

h3 {
  color: #575366;
  font-size: 20px;
  font-family: "Cinzel";
  margin-bottom: 3px;
  margin-top: 5px;

}

p {
  color: black;
  font-size: 13px;
  font-family: Helvetica;
  margin-top: 3px;

}

.bakgrund {
  display: flex;
  background-color: #003366;
  justify-content: space-around;
  padding: 18px
}

.trending {
  width: 25%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}


.talk {
  width: 40%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}

.world {
  width: 25%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}

.puff img {
  width: 100%;

}

@media screen and (max-width:767px) {
  .bakgrund {
    display: block;
    padding: 5px;
  }
  .trending {
    width: 85%;
    margin: 5px auto;
    border-style: outset;
  }

  .talk {
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }

  .world{
    width: 85%;
    margin: 5px auto;
    border-style: outset;
  }

  .herobild {
    padding: 40px;
    background-size: cover;
    background-position: center;

}

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

}

@media (min-width:768px) and (max-width:1023px) {
  .bakgrund {
    display: block;
    padding: 15px;
  }
  .trending {
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }

  .talk {
    width: 85%;
    margin: 20px auto;
    border-style: outset;
  }

  .world{
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }

  p {
    font-size: 13px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 17px;
  }

}
