* {box-sizing: border-box;

}

h1{ color: #e5cccc;
  font-size: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

.herobild {
  padding: 80px;
  padding-top: 170px;
  background-image:url(hollywood.png);
  background-position: top;
  background-size: cover;
}

h2 {
  color: #376996;
  font-size: 28px;
  font-family: "Codystar";
  text-align: center;
}

h3 {
  color: #575366;
  font-size: 18px;
  font-family: "Cinzel";
  margin-bottom: 3px;
  margin-top: 5px;
  text-align: center;

}

h4 {
  color: #376996;
  font-size: 15px;
  font-family: "Codystar";
}

h5 {
  color: #575366;
  font-size: 10px;
  font-family: "Cinzel";
}

p {
  color: black;
  font-size: 13px;
  font-family: Helvetica;
  margin-top: 3px;

}

.bakgrund {
  display: flex;
  background-color: #003366;
  justify-content: space-around;
  padding: 18px
}

.bredvid {
  display: flex;
}

.winners {
  width: 25%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}

.articleleft {
  display: block;
  padding: 3px;
}
.bredvid img {
  width: 40%;
  height: 30%;
  margin: 4px;
}

.articleright {
  display: block;
  padding: 3px;
}

.divider {
  height: 1px;
  width: 185px;
  background: #999;
  display: block;
  margin: 3px auto;
  margin-top: 4px;
  margin-bottom: 4px;
}


.dressed {
  max-height: 600px;
  width: 40%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  background: black;
  opacity: 0.6;
  font-size: 15px;
  font-family: Helvetica;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  background: black;
  opacity: 0.4;
  font-size: 12px;
  font-family: Helvetica;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.nominees {
  width: 25%;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 5px;
}

.puff img {
  width: 100%;

}

@media screen and (max-width:767px) {
  .bakgrund {
    display: block;
    padding: 5px;
  }
  .winners {
    width: 85%;
    margin: 5px auto;
    border-style: outset;
  }

  .dressed {
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }

  .nominees{
    width: 85%;
    margin: 5px auto;
    border-style: outset;
  }

  .herobild {
    padding: 40px;
    background-size: cover;
    background-position: center;

}

.bredvid img {
  width: 30%;
  height: 20%;
  margin: 3px;
}

/* Caption text slideshow*/
.text {
  font-size: 10px;
}

/* Number text (1/3 etc) */
.numbertext {
  opacity: 0.4;
  font-size: 10px;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
}

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 10px;
  }

  h5 {
    font-size: 5px;
  }

}

@media (min-width:768px) and (max-width:1023px) {
  .bakgrund {
    display: block;
    padding: 15px;
  }
  .winners {
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }

  .dressed {
    max-height: 700px;
    width: 85%;
    margin: 20px auto;
    border-style: outset;
  }

  .bredvid img {
    width: 30%;
    height: 30%;
    margin: 4px;
  }

  /* Caption text slideshow*/
  .text {
    font-size: 14px;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    opacity: 0.4;
    font-size: 13px;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 12px;
    width: 12px;
  }

  .nominees{
    width: 85%;
    margin: 10px auto;
    border-style: outset;
  }


  p {
    font-size: 13px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 15px;
  }

}
